## Import Libraries

In [54]:
import pandas as pd
import numpy as np

## Read Datasets
Read Datasets and do some basic exploratory analysis

In [55]:
apsvar = pd.read_csv('../data/apacheApsVar.csv')

In [56]:
apsvar.head()

,apacheapsvarid,patientunitstayid,intubated,vent,dialysis,eyes,motor,verbal,meds,urine,...,ph,hematocrit,creatinine,albumin,pao2,pco2,bun,glucose,bilirubin,fio2
0,2,141168,0,0,0,4,6,5,0,-1.0,...,-1.00,40.1,2.30,3.1,-1.0,-1.0,27.0,95.0,4.1,-1.0
1,2399659,141178,0,0,0,-1,-1,-1,-1,-1.0,...,-1.00,-1.0,-1.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,167885,141194,0,0,0,3,6,4,0,-1.0,...,-1.00,27.4,2.51,2.3,-1.0,-1.0,31.0,168.0,0.4,-1.0
3,70691,141197,0,0,0,4,6,5,0,-1.0,...,-1.00,-1.0,-1.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,2279689,141203,0,1,0,1,3,1,0,-1.0,...,7.45,36.9,0.56,-1.0,51.0,37.0,9.0,145.0,-1.0,100.0

In [57]:
apsvar.columns

Index(['apacheapsvarid', 'patientunitstayid', 'intubated', 'vent', 'dialysis',
       'eyes', 'motor', 'verbal', 'meds', 'urine', 'wbc', 'temperature',
       'respiratoryrate', 'sodium', 'heartrate', 'meanbp', 'ph', 'hematocrit',
       'creatinine', 'albumin', 'pao2', 'pco2', 'bun', 'glucose', 'bilirubin',
       'fio2'],
      dtype='object')

In [58]:
apsvar.shape

(171177, 26)

#### Read vitals aperiod dataset to get the systolic and diastolic

In [60]:
vitsaperiod = pd.read_csv('../data/vitalAperiodic.csv')

In [61]:
vitsaperiod.head()

,vitalaperiodicid,patientunitstayid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
0,4295739,141168,349,NaN,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4295737,141168,123,106.0,68.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4295741,141168,1398,NaN,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4295740,141168,441,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4295738,141168,138,111.0,62.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
vitsaperiod.columns

Index(['vitalaperiodicid', 'patientunitstayid', 'observationoffset',
       'noninvasivesystolic', 'noninvasivediastolic', 'noninvasivemean',
       'paop', 'cardiacoutput', 'cardiacinput', 'svr', 'svri', 'pvr', 'pvri'],
      dtype='object')

In [63]:
vitsaperiod.shape

(25075074, 13)

#### Join the dialstolic and systolic blood pressures to the apsvar dataset

In [64]:
df = apsvar.join(vitsaperiod[['observationoffset', 'noninvasivesystolic', 'noninvasivediastolic']], on='patientunitstayid')

In [65]:
df.isna().sum()

apacheapsvarid              0
patientunitstayid           0
intubated                   0
vent                        0
dialysis                    0
eyes                        0
motor                       0
verbal                      0
meds                        0
urine                       0
wbc                         0
temperature                 0
respiratoryrate             0
sodium                      0
heartrate                   0
meanbp                      0
ph                          0
hematocrit                  0
creatinine                  0
albumin                     0
pao2                        0
pco2                        0
bun                         0
glucose                     0
bilirubin                   0
fio2                        0
observationoffset           0
noninvasivesystolic     32232
noninvasivediastolic    32225
dtype: int64

In [66]:
df.shape

(171177, 29)

In [67]:
df.dropna(inplace=True)

In [68]:
df.reset_index(inplace=True)

In [69]:
df.isna().sum()

index                   0
apacheapsvarid          0
patientunitstayid       0
intubated               0
vent                    0
dialysis                0
eyes                    0
motor                   0
verbal                  0
meds                    0
urine                   0
wbc                     0
temperature             0
respiratoryrate         0
sodium                  0
heartrate               0
meanbp                  0
ph                      0
hematocrit              0
creatinine              0
albumin                 0
pao2                    0
pco2                    0
bun                     0
glucose                 0
bilirubin               0
fio2                    0
observationoffset       0
noninvasivesystolic     0
noninvasivediastolic    0
dtype: int64

In [70]:
df.head()

,index,apacheapsvarid,patientunitstayid,intubated,vent,dialysis,eyes,motor,verbal,meds,...,albumin,pao2,pco2,bun,glucose,bilirubin,fio2,observationoffset,noninvasivesystolic,noninvasivediastolic
0,0,2,141168,0,0,0,4,6,5,0,...,3.1,-1.0,-1.0,27.0,95.0,4.1,-1.0,151,134.0,72.0
1,1,2399659,141178,0,0,0,-1,-1,-1,-1,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,647,108.0,66.0
2,2,167885,141194,0,0,0,3,6,4,0,...,2.3,-1.0,-1.0,31.0,168.0,0.4,-1.0,36,113.0,68.0
3,3,70691,141197,0,0,0,4,6,5,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,5037,131.0,63.0
4,4,2279689,141203,0,1,0,1,3,1,0,...,-1.0,51.0,37.0,9.0,145.0,-1.0,100.0,10175,119.0,67.0

In [71]:
df.columns

Index(['index', 'apacheapsvarid', 'patientunitstayid', 'intubated', 'vent',
       'dialysis', 'eyes', 'motor', 'verbal', 'meds', 'urine', 'wbc',
       'temperature', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp', 'ph',
       'hematocrit', 'creatinine', 'albumin', 'pao2', 'pco2', 'bun', 'glucose',
       'bilirubin', 'fio2', 'observationoffset', 'noninvasivesystolic',
       'noninvasivediastolic'],
      dtype='object')

## Section: Calculation of SOFA scores

### Select only the required columns
Select only those columns that contribute to the calculation for the SOFA scores.

In [72]:
dfmain = df[['urine', 'wbc', 'creatinine', 'pao2', 'fio2', 'bilirubin', 'observationoffset', 'patientunitstayid']]

In [73]:
dfmain.isna().sum()

urine                0
wbc                  0
creatinine           0
pao2                 0
fio2                 0
bilirubin            0
observationoffset    0
patientunitstayid    0
dtype: int64

#### Calculate Mean Arterial Pressure (MAP)

In [75]:
def calcMAP(listOfSBP, listofDBP):
    """A function to calculate MAP ie, Mean Arterial Pressure"""
    
    l = []
    for i in range(len(listOfSBP)):
        mapval = (listOfSBP[i] + (listofDBP[i])*2)/3.0
        l.append(mapval)
    
    return l

In [76]:
mapvals = calcMAP(df['noninvasivesystolic'].tolist(), df['noninvasivediastolic'].tolist())

In [77]:
mapvals = pd.DataFrame(mapvals, columns=['MAP'])

In [78]:
mapvals.head()

         MAP
0  92.666667
1  80.000000
2  83.000000
3  85.666667
4  84.333333

#### Calculate Glasgow Coma Score (GCS)

In [79]:
def calcGCS(eyeslist, motorlist, verballist):
    """A function to calculate Glasgow Coma Scale"""
    
    l = []
    for i in range(len(eyeslist)):
        gcs = eyeslist[i] + motorlist[i] + verballist[i]
        if gcs < 0:
            l.append(None)
        else:
            l.append(gcs)
    
    return l

In [80]:
gcsvals = calcGCS(df['eyes'].tolist(), df['motor'].tolist(), df['verbal'].tolist())

In [81]:
gcsvals = pd.DataFrame(gcsvals, columns=['GCS'])

In [82]:
gcsvals.head()

    GCS
0  15.0
1   NaN
2  13.0
3  15.0
4   5.0

In [83]:
gcsvals.isna().sum()

GCS    4587
dtype: int64

In [84]:
len(gcsvals)

138942

In [85]:
dfmain.head()

,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid
0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168
1,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,647,141178
2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194
3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197
4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203

In [86]:
#Concat the datasets
dfmain = pd.concat([dfmain, mapvals, gcsvals], axis=1)

In [87]:
dfmain.isna().sum()

urine                   0
wbc                     0
creatinine              0
pao2                    0
fio2                    0
bilirubin               0
observationoffset       0
patientunitstayid       0
MAP                     0
GCS                  4587
dtype: int64

In [88]:
dfmain.dropna(inplace=True)

In [89]:
dfmain.reset_index(inplace=True)

In [90]:
dfmain.head()

,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS
0,0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0
1,2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0
2,3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0
3,4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0
4,5,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0

In [78]:
dfmain.shape

(134355, 11)

In [79]:
def calcSOFA(wbclist, creatininelist, pao2list, bilirubinlist, maplist, gcslist):
    """A function to calculate sofa score"""
    
    l = []
    for i in range(len(creatininelist)):
        
        ## calculate wbc/platelets score
        if wbclist[i] == -0.1:
            wbc = 0
        elif wbclist[i] >= 150:
            wbc = 0
        elif wbclist[i] < 20:
            wbc = 4
        elif wbclist[i] < 50:
            wbc = 3
        elif wbclist[i] < 100:
            wbc = 2
        elif wbclist[i] < 150:
            wbc = 1
        else:
            wbc = 0
                
        ## calculate creatinine score
        if creatininelist[i] == -0.1:
            renal = 0
        elif creatininelist[i] >= 5.0:
            renal = 4
        elif creatininelist[i] >= 3.5:
            renal = 3
        elif creatininelist[i] >= 2.0:
            renal = 2
        elif creatininelist[i] >= 1.2:
            renal = 1
        elif creatininelist[i] < 1.2:
            renal = 0
        else: 
            renal = 0
            
        ## calculate pao2 score
        if pao2list[i] == -1.0:
            resp = 0
        elif pao2list[i] < 100:
            resp = 4
        elif pao2list[i] < 200:
            resp = 3
        elif pao2list[i] < 300:
            resp = 2
        elif pao2list[i] < 400:
            resp = 1
        elif pao2list[i] >= 400:
            resp = 0
        else:
            resp = 0
            
        ## calculate bilirubin score
        if bilirubinlist[i] == -1.0:
            liver = 0
        elif bilirubinlist[i] < 1.2:
            liver = 0
        elif bilirubinlist[i] < 2.0:
            liver = 1
        elif bilirubinlist[i] < 6.0:
            liver = 2
        elif bilirubinlist[i] < 12.0:
            liver = 3
        elif bilirubinlist[i] >= 12.0:
            liver = 4
        else:
            liver = 0
            
        ## calculate MAP score
        if maplist[i] == -1.0:
            mapval = 0
        elif maplist[i] < 70:
            mapval = 1
        elif maplist[i] >= 70:
            mapval = 0
        else: 
            mapval = 0
            
        ## calculate Glasgow Coma Score (GCS) score
        if gcslist[i] == -1.0:
            gcs = 0
        elif gcslist[i] < 6:
            gcs = 4
        elif gcslist[i] < 10:
            gcs = 3
        elif gcslist[i] < 13:
            gcs = 2
        elif gcslist[i] < 15:
            gcs = 1
        elif gcslist[i] == 15:
            gcs = 0
        else:
            gcs = 0
    
        ## CALCULATE the sofa score and append it
        sofascore = wbc + renal + resp + liver + mapval + gcs
        l.append(sofascore)
        
    
    return l

In [80]:
sofaslist = calcSOFA(dfmain['wbc'].tolist(), dfmain['creatinine'].tolist(), 
                     dfmain['pao2'].tolist(), dfmain['bilirubin'].tolist(),
                     dfmain['MAP'].tolist(), dfmain['GCS'].tolist())

In [81]:
sofaslist = pd.DataFrame(sofaslist, columns=['SOFA'])

In [82]:
dfmain = pd.concat([dfmain, sofaslist], axis=1)

In [83]:
dfmain.head()

,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS,SOFA
0,0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0,8
1,2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0,7
2,3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0,4
3,4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0,12
4,5,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0,5

In [84]:
dfmain['SOFA'].value_counts()

4     38789
5     26693
6     15202
8     12239
7     12057
9      8299
10     6497
11     5303
12     3658
13     2062
3      1481
14     1062
15      570
16      243
17      100
2        47
18       26
19       13
1        11
0         3
Name: SOFA, dtype: int64

In [85]:
# df2 = vitsaperiod[['observationoffset', 'noninvasivesystolic', 'noninvasivediastolic']].join(apsvar, on='patientunitstayid', how='inner')

In [86]:
vitsaperiod.columns

Index(['vitalaperiodicid', 'patientunitstayid', 'observationoffset',
       'noninvasivesystolic', 'noninvasivediastolic', 'noninvasivemean',
       'paop', 'cardiacoutput', 'cardiacinput', 'svr', 'svri', 'pvr', 'pvri'],
      dtype='object')

In [87]:
vitsaperiod.shape

(25075074, 13)

In [88]:
# vitsperiodic = pd.read_csv('../data/vitalPeriodic.csv', nrows=100000000)

# Medication

In [96]:
medication = pd.read_csv('../data/medication.csv')

E:\Anaconda-3\envs\tfdeeplearning\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [97]:
medication.head()

,medicationid,patientunitstayid,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,drugname,drughiclseqno,dosage,routeadmin,frequency,loadingdose,prn,drugstopoffset,gtc
0,7426715,141168,309,666,No,No,METOPROLOL TARTRATE 25 MG PO TABS,2102.0,25 3,PO,Q12H SCH,NaN,No,1826,0
1,9643232,141168,1847,1832,No,No,3 ML - IPRATROPIUM-ALBUTEROL 0.5-2.5 (3) MG/...,NaN,3 1,NEBULIZATION,Q4H Resp PRN,NaN,Yes,2047,0
2,10270090,141168,296,1386,No,No,ASPIRIN EC 81 MG PO TBEC,1820.0,81 3,PO,Daily,NaN,No,2390,0
3,9496768,141168,2048,2029,No,No,3 ML - IPRATROPIUM-ALBUTEROL 0.5-2.5 (3) MG/...,NaN,3 1,NEBULIZATION,Q4H Resp PRN,NaN,Yes,2390,0
4,11259680,141168,117,246,No,No,ENOXAPARIN SODIUM 40 MG/0.4ML SC SOLN,NaN,40 3,SC,Daily,NaN,No,1721,0

In [98]:
medication.columns

Index(['medicationid', 'patientunitstayid', 'drugorderoffset',
       'drugstartoffset', 'drugivadmixture', 'drugordercancelled', 'drugname',
       'drughiclseqno', 'dosage', 'routeadmin', 'frequency', 'loadingdose',
       'prn', 'drugstopoffset', 'gtc'],
      dtype='object')

In [99]:
dfmeds = medication[['medicationid', 'patientunitstayid', 'drugstartoffset', 'drugstopoffset']]

In [100]:
dfmeds.head()

   medicationid  patientunitstayid  drugstartoffset  drugstopoffset
0       7426715             141168              666            1826
1       9643232             141168             1832            2047
2      10270090             141168             1386            2390
3       9496768             141168             2029            2390
4      11259680             141168              246            1721

In [101]:
dfmeds.isna().sum()

medicationid         0
patientunitstayid    0
drugstartoffset      0
drugstopoffset       0
dtype: int64

In [56]:
diagnosis = pd.read_csv('../data/diagnosis.csv')

In [57]:
diagnosis.head()

,diagnosisid,patientunitstayid,activeupondischarge,diagnosisoffset,diagnosisstring,icd9code,diagnosispriority
0,4222318,141168,False,72,cardiovascular|chest pain / ASHD|coronary arte...,"414.00, I25.10",Other
1,3370568,141168,True,118,cardiovascular|ventricular disorders|cardiomyo...,NaN,Other
2,4160941,141168,False,72,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
3,4103261,141168,True,118,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
4,3545241,141168,True,118,cardiovascular|ventricular disorders|congestiv...,"428.0, I50.9",Other

In [58]:
diagnosis.columns

Index(['diagnosisid', 'patientunitstayid', 'activeupondischarge',
       'diagnosisoffset', 'diagnosisstring', 'icd9code', 'diagnosispriority'],
      dtype='object')

In [59]:
dfdiag = diagnosis[['patientunitstayid', 'diagnosisstring']]

In [60]:
dfdiag.head()

   patientunitstayid                                    diagnosisstring
0             141168  cardiovascular|chest pain / ASHD|coronary arte...
1             141168  cardiovascular|ventricular disorders|cardiomyo...
2             141168            pulmonary|disorders of the airways|COPD
3             141168            pulmonary|disorders of the airways|COPD
4             141168  cardiovascular|ventricular disorders|congestiv...

In [61]:
dfdiag.isna().sum()

patientunitstayid    0
diagnosisstring      0
dtype: int64

In [62]:
# tp = dfdiag.copy().head()

In [63]:
droplist = []
for i in range(dfdiag.shape[0]):
    if "sepsis" in dfdiag.iloc[i]['diagnosisstring'].lower():
        pass
    else:
        droplist.append(i)

In [64]:
# tp.drop([0,1])

In [65]:
len(droplist)

2595297

In [66]:
dfdiag.drop(droplist, inplace=True)

E:\Anaconda-3\envs\tfdeeplearning\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [67]:
dfdiag.reset_index(inplace=True)

In [68]:
dfdiag.drop('index', axis=1, inplace=True)

E:\Anaconda-3\envs\tfdeeplearning\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [69]:
# dfdiag.drop('level_0', axis=1, inplace=True)

In [70]:
dfdiag.head()

   patientunitstayid                            diagnosisstring
0             141227  cardiovascular|shock / hypotension|sepsis
1             141288  cardiovascular|shock / hypotension|sepsis
2             141288  cardiovascular|shock / hypotension|sepsis
3             141288  cardiovascular|shock / hypotension|sepsis
4             141288  cardiovascular|shock / hypotension|sepsis

In [71]:
dfmedsmain = dfdiag.join(dfmeds.drop('patientunitstayid', axis=1), on='patientunitstayid')

In [72]:
len(dfmeds['patientunitstayid'].unique())

165837

In [73]:
dfmeds.shape

(7301853, 4)

In [74]:
dfmedsmain.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008
1,141288,cardiovascular|shock / hypotension|sepsis,12297557,6599,6600
2,141288,cardiovascular|shock / hypotension|sepsis,12297557,6599,6600
3,141288,cardiovascular|shock / hypotension|sepsis,12297557,6599,6600
4,141288,cardiovascular|shock / hypotension|sepsis,12297557,6599,6600

In [75]:
dfmedsmain.columns

Index(['patientunitstayid', 'diagnosisstring', 'medicationid',
       'drugstartoffset', 'drugstopoffset'],
      dtype='object')

In [76]:
dfmedsmain.shape

(115375, 5)

In [77]:
dfmedsmain.isna().sum()

patientunitstayid    0
diagnosisstring      0
medicationid         0
drugstartoffset      0
drugstopoffset       0
dtype: int64

In [78]:
72*60

4320

In [79]:
droplist = []
for i in range(dfmedsmain.shape[0]):
    if dfmedsmain.iloc[i]['drugstopoffset'] - dfmedsmain.iloc[i]['drugstartoffset'] < 72 :
        droplist.append(i)

In [80]:
dfmedsmain.drop(droplist, inplace=True)

In [81]:
dfmedsmain.reset_index(inplace=True)

In [82]:
dfmedsmain.drop('index', axis=1, inplace=True)

In [83]:
dfmedsmain.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008
1,141289,cardiovascular|shock / hypotension|sepsis,11823905,1556,8115
2,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115
3,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115
4,141392,cardiovascular|shock / hypotension|sepsis,12453621,22689,24216

In [84]:
patientslistwithsepsis = dfmedsmain['patientunitstayid'].tolist()

In [85]:
# droplist = []
# for i in range(dfmain.shape[0]):
#     if dfmain.iloc[i]['patientunitstayid'] not in patientslistwithsepsis:
#         droplist.append(i)
#     elif i % 100 < 10:
#         print(i)

In [86]:
dfmain.shape

(134355, 12)

In [87]:
# dfmedsmain.join(dfmain.drop('patientunitstayid', axis=1), on='patientunitstayid')

In [88]:
dfmain['patientunitstayid'].min()

141168

In [89]:
df00 = pd.merge(dfmedsmain, dfmain, on='patientunitstayid', how='left')

In [90]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.90,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0
1,141289,cardiovascular|shock / hypotension|sepsis,11823905,1556,8115,16.0,-1.0,7.1,0.60,67.0,35.0,-1.0,186.0,74.666667,15.0,8.0
2,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115,18.0,-1.0,12.8,2.05,-1.0,-1.0,-1.0,688.0,65.000000,15.0,7.0
3,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115,18.0,-1.0,12.8,2.05,-1.0,-1.0,-1.0,688.0,65.000000,15.0,7.0
4,141392,cardiovascular|shock / hypotension|sepsis,12453621,22689,24216,29.0,-1.0,17.5,1.68,-1.0,-1.0,-1.0,17362.0,83.666667,15.0,5.0

In [91]:
df00 = pd.concat([df00, pd.DataFrame(df00['drugstartoffset'].tolist(), columns=['tDrugAdminister'])], axis=1)

In [92]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.90,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341
1,141289,cardiovascular|shock / hypotension|sepsis,11823905,1556,8115,16.0,-1.0,7.1,0.60,67.0,35.0,-1.0,186.0,74.666667,15.0,8.0,1556
2,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115,18.0,-1.0,12.8,2.05,-1.0,-1.0,-1.0,688.0,65.000000,15.0,7.0,31
3,141304,cardiovascular|shock / hypotension|sepsis,13411924,31,8115,18.0,-1.0,12.8,2.05,-1.0,-1.0,-1.0,688.0,65.000000,15.0,7.0,31
4,141392,cardiovascular|shock / hypotension|sepsis,12453621,22689,24216,29.0,-1.0,17.5,1.68,-1.0,-1.0,-1.0,17362.0,83.666667,15.0,5.0,22689

In [2]:
# lab = pd.read_csv('../data/lab.csv')

In [106]:
# lab.head()

In [3]:
# lab = lab[['patientunitstayid', 'labresultoffset']]

In [115]:
# lab = []

In [108]:
# df00 = pd.merge(df00, lab, on='patientunitstayid', how='left')

In [109]:
# df00.head()

In [110]:
# df00.to_csv('../data/df00.csv', index=False)

In [111]:
# print(True)

In [41]:
df00 = pd.read_csv('../data/df00.csv')

In [42]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

In [43]:
df00.isna().sum()

patientunitstayid         0
diagnosisstring           0
medicationid              0
drugstartoffset           0
drugstopoffset            0
index                310199
urine                310199
wbc                  310199
creatinine           310199
pao2                 310199
fio2                 310199
bilirubin            310199
observationoffset    310199
MAP                  310199
GCS                  310199
SOFA                 310199
tDrugAdminister           0
labresultoffset          64
tSusp                    64
dtype: int64

In [44]:
df00.dropna(inplace=True)

In [45]:
df00.reset_index(inplace=True)

In [46]:
df00.drop('level_0', axis=1, inplace=True)

In [47]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

In [53]:
# df00.shape

In [51]:
# df00.drop_duplicates(inplace=True)

In [52]:
# df00.shape

In [26]:
# df00.to_csv('../data/df00.csv', index=False)

In [20]:
def calcTSuspicion(tDrugAdList, labResOffsetList):
    """Function to calculate the time of suspicion (tSuspicion) """
    
    l = []
    for i in range(len(tDrugAdList)):
        if tDrugAdList[i] <= labResOffsetList[i]:
            l.append(tDrugAdList[i])
        else: 
            l.append(labResOffsetList[i])
            
    return l

In [22]:
tsuspList = calcTSuspicion(df00['tDrugAdminister'].tolist(), df00['labresultoffset'].tolist())

In [23]:
tsuspList = pd.DataFrame(tsuspList, columns=['tSusp'])

In [24]:
df00 = pd.concat([df00, tsuspList], axis=1)

In [25]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

In [56]:
df00.isna().sum()

patientunitstayid    0
diagnosisstring      0
medicationid         0
drugstartoffset      0
drugstopoffset       0
index                0
urine                0
wbc                  0
creatinine           0
pao2                 0
fio2                 0
bilirubin            0
observationoffset    0
MAP                  0
GCS                  0
SOFA                 0
tDrugAdminister      0
labresultoffset      0
tSusp                0
dtype: int64

In [57]:
df00.to_csv('../data/df01.csv', index=False)

In [58]:
df00.shape

(849433, 19)

In [2]:
df00 = pd.read_csv('../data/df00.csv')

# ==========
# ==========

In [2]:
vitals1 = pd.read_csv('../data/vitalPeriodic.csv', nrows=48890547)

In [3]:
vitals1.head()

,vitalperiodicid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
0,37376747,141168,2059,NaN,NaN,92.0,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37404957,141168,1289,NaN,NaN,118.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37385871,141168,1794,NaN,91.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37401664,141168,1374,NaN,90.0,118.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37377404,141168,2039,NaN,98.0,92.0,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
vitals1.columns

Index(['vitalperiodicid', 'patientunitstayid', 'observationoffset',
       'temperature', 'sao2', 'heartrate', 'respiration', 'cvp', 'etco2',
       'systemicsystolic', 'systemicdiastolic', 'systemicmean', 'pasystolic',
       'padiastolic', 'pamean', 'st1', 'st2', 'st3', 'icp'],
      dtype='object')

In [5]:
vitals1 = vitals1[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [6]:
vitals1.isna().sum()

vitalperiodicid             0
patientunitstayid           0
observationoffset           0
systemicsystolic     37582695
systemicdiastolic    37582688
dtype: int64

In [7]:
vitals1.dropna(inplace=True)

In [8]:
vitals1.reset_index(inplace=True, drop=True)

In [9]:
vitals1.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [10]:
vitals1.shape

(11307687, 5)

In [11]:
vitalsnames = ['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'temperature', 'sao2', 'heartrate', 'respiration', 'cvp', 'etco2', 'systemicsystolic', 'systemicdiastolic', 'systemicmean', 'pasystolic', 'padiastolic', 'pamean', 'st1', 'st2', 'st3', 'icp']

In [12]:
vitals2 = pd.read_csv('../data/vitalPeriodic.csv', skiprows=48890547, nrows=48890547, 
                      names=vitalsnames)

In [13]:
# indexvitals = pd.read_csv('../data/vitalPeriodic.csv', nrows=1)

In [14]:
# indexvitals

In [15]:
vitals2.head()

,vitalperiodicid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
0,584096616,1117992,4125,NaN,99.0,76.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,584180321,1117992,30,NaN,100.0,101.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,584147566,1117992,1600,NaN,96.0,106.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,584099097,1117992,4000,NaN,98.0,91.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,584105700,1117992,3685,NaN,95.0,92.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
vitals2 = vitals2[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [18]:
vitals2.isna().sum()

vitalperiodicid             0
patientunitstayid           0
observationoffset           0
systemicsystolic     42011991
systemicdiastolic    42012040
dtype: int64

In [20]:
vitals2.dropna(inplace=True)
vitals2.reset_index(inplace=True, drop=True)

In [21]:
vitals2.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,591107610,1118086,12179,134.0,92.0
1,591102215,1118086,12454,100.0,79.0
2,591104686,1118086,12329,146.0,111.0
3,591103895,1118086,12369,122.0,90.0
4,591111745,1118086,11959,163.0,77.0

In [23]:
vitals2.shape

(6878451, 5)

In [24]:
vitals3 = pd.read_csv('../data/vitalPeriodic.csv', skiprows=97781094, nrows=48890547, 
                      names=vitalsnames)

In [25]:
vitals3.head()

,vitalperiodicid,patientunitstayid,observationoffset,temperature,sao2,heartrate,respiration,cvp,etco2,systemicsystolic,systemicdiastolic,systemicmean,pasystolic,padiastolic,pamean,st1,st2,st3,icp
0,1481048910,2428953,3066,NaN,96.0,91.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.40,-0.2,0.25,NaN
1,1480829742,2428953,4281,NaN,92.0,76.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.10,-0.4,-0.30,NaN
2,1481509702,2428953,156,NaN,89.0,119.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.55,-0.3,0.30,NaN
3,1480728932,2428953,4991,NaN,91.0,76.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.10,0.2,0.35,NaN
4,1481433549,2428953,786,NaN,94.0,95.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.45,-0.1,0.40,NaN

In [26]:
vitals3 = vitals3[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [27]:
vitals3.isna().sum()

vitalperiodicid             0
patientunitstayid           0
observationoffset           0
systemicsystolic     39241995
systemicdiastolic    39243066
dtype: int64

In [28]:
vitals3.dropna(inplace=True)
vitals3.reset_index(inplace=True, drop=True)

In [29]:
vitals3.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,1466194220,2429113,1368,161.0,78.0
1,1466191258,2429113,1423,168.0,78.0
2,1466194083,2429113,1373,173.0,83.0
3,1466193400,2429113,1398,187.0,86.0
4,1466191390,2429113,1418,174.0,81.0

In [30]:
vitals3.shape

(9647408, 5)

In [31]:
vitals3.isna().sum()

vitalperiodicid      0
patientunitstayid    0
observationoffset    0
systemicsystolic     0
systemicdiastolic    0
dtype: int64

In [32]:
vitals = pd.concat([vitals1, vitals2, vitals3])

In [33]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [34]:
vitals.shape

(27833546, 5)

In [35]:
vitals.isna().sum()

vitalperiodicid      0
patientunitstayid    0
observationoffset    0
systemicsystolic     0
systemicdiastolic    0
dtype: int64

In [36]:
vitals.reset_index(inplace=True, drop=True)

In [37]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [38]:
vitals.to_csv('../data/vitals.csv', index=False)

In [27]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

In [90]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [103]:
dfmain.head()

,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS,SOFA
0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0,8
1,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0,7
2,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0,4
3,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0,12
4,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0,5

In [92]:
dfmain.shape

(134355, 12)

In [102]:
dfmain.drop('index', axis=1, inplace=True)

In [6]:
# dfmain0 = dfmain.merge(dfmeds, on='patientunitstayid', how='left')

In [7]:
# dfmain0.head()

In [8]:
# dfmain0.isna().sum()

In [9]:
# dfmain0.dropna(inplace=True)
# dfmain0.reset_index(inplace=True, drop=True)

In [10]:
# dfmain0.head()

In [11]:
# dfmain0.isna().sum()

In [12]:
# vitals.head()

In [13]:
# dfmain0 = pd.concat([dfmain0, pd.DataFrame(dfmain0['drugstartoffset'].tolist(), columns=['tDrugAdminister'])], axis=1)

In [14]:
# dfmain0 = dfmain0.merge(lab, on='patientunitstayid', how='left')

In [15]:
# dfmain00 = []

In [16]:
# med = []

In [17]:
# dfmain0.to_csv('../data/dfmain0.csv', index=False)

In [18]:
# dfmain = pd.read_csv('../data/dfmain.csv')

In [28]:
patientsId = df00['patientunitstayid']

In [29]:
patientsId

0           141227
1           141227
2           141227
3           141227
4           141227
5           141227
6           141227
7           141227
8           141227
9           141227
10          141227
11          141227
12          141227
13          141227
14          141289
15          141289
16          141289
17          141304
18          141304
19          141304
20          141304
21          141304
22          141304
23          141304
24          141304
25          141304
26          141304
27          141304
28          141304
29          141304
            ...
1159639    3353251
1159640    3353251
1159641    3353251
1159642    3353251
1159643    3353251
1159644    3353251
1159645    3353251
1159646    3353251
1159647    3353251
1159648    3353251
1159649    3353251
1159650    3353251
1159651    3353251
1159652    3353251
1159653    3353251
1159654    3353251
1159655    3353251
1159656    3353251
1159657    3353251
1159658    3353251
1159659    3353251
1159660    3353251
1159661    3353251
1159662    3353251
1159663    3353251
1159664    3353251
1159665    3353251
1159666    3353251
1159667    3353251
1159668    3353251
Name: patientunitstayid, Length: 1159669, dtype: int64

In [30]:
vitals = pd.read_csv('../data/vitals.csv')

In [31]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [32]:
df00.columns

Index(['patientunitstayid', 'diagnosisstring', 'medicationid',
       'drugstartoffset', 'drugstopoffset', 'index', 'urine', 'wbc',
       'creatinine', 'pao2', 'fio2', 'bilirubin', 'observationoffset', 'MAP',
       'GCS', 'SOFA', 'tDrugAdminister', 'labresultoffset', 'tSusp'],
      dtype='object')

In [34]:
vitalsmap = calcMAP(vitals['systemicsystolic'].tolist(), vitals['systemicdiastolic'].tolist())

In [35]:
vitalsmap = pd.DataFrame(vitalsmap, columns=['MAP'])

In [36]:
vitals = pd.concat([vitals, vitalsmap], axis=1)

In [37]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP
0,37370189,141168,2254,100.0,72.0,81.333333
1,37370360,141168,2249,96.0,60.0,72.000000
2,37374416,141168,2129,112.0,56.0,74.666667
3,37369500,141168,2274,96.0,52.0,66.666667
4,37375589,141168,2094,122.0,59.0,80.000000

In [66]:
df11 = pd.DataFrame(df00['observationoffset'].tolist(), columns=['observationoffsetinit'])

In [67]:
df11 = pd.concat([df00['patientunitstayid'], df00['MAP'], df11], axis=1)

In [68]:
df11.isna().sum()

patientunitstayid             0
MAP                      310199
observationoffsetinit    310199
dtype: int64

In [69]:
df11.dropna(inplace=True)
df11.reset_index(inplace=True, drop=True)

In [70]:
df11.head(10)

   patientunitstayid        MAP  observationoffsetinit
0             141227  77.333333                  676.0
1             141227  77.333333                  676.0
2             141227  77.333333                  676.0
3             141227  77.333333                  676.0
4             141227  77.333333                  676.0
5             141227  77.333333                  676.0
6             141227  77.333333                  676.0
7             141227  77.333333                  676.0
8             141227  77.333333                  676.0
9             141227  77.333333                  676.0

In [71]:
df11.drop_duplicates(inplace=True)
df11.reset_index(inplace=True, drop=True)

In [72]:
df11.head()

   patientunitstayid        MAP  observationoffsetinit
0             141227  77.333333                  676.0
1             141289  74.666667                  186.0
2             141304  65.000000                  688.0
3             141392  83.666667                17362.0
4             141432  82.000000                17392.0

In [73]:
df11.shape

(13447, 3)

In [74]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP
0,37370189,141168,2254,100.0,72.0,81.333333
1,37370360,141168,2249,96.0,60.0,72.000000
2,37374416,141168,2129,112.0,56.0,74.666667
3,37369500,141168,2274,96.0,52.0,66.666667
4,37375589,141168,2094,122.0,59.0,80.000000

In [75]:
vitals.shape

(27833546, 6)

In [78]:
vitals0 = vitals.copy()

In [79]:
vitals.isna().sum()

vitalperiodicid      0
patientunitstayid    0
observationoffset    0
systemicsystolic     0
systemicdiastolic    0
MAP                  0
dtype: int64

In [97]:
ivitals = vitals0.merge(df11, how='outer', on='patientunitstayid', suffixes=('_vitals', '_df'))

In [98]:
ivitals.shape

(27843757, 8)

In [99]:
ivitals.dropna(inplace=True)
ivitals.reset_index(inplace=True, drop=True)

In [100]:
ivitals.shape

(3376928, 8)

In [101]:
ivitals

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP_vitals,MAP_df,observationoffsetinit
0,3.088795e+07,141227,1192.0,130.0,70.0,90.000000,77.333333,676.0
1,3.088776e+07,141227,1197.0,124.0,74.0,90.666667,77.333333,676.0
2,3.089441e+07,141227,1017.0,97.0,92.0,93.666667,77.333333,676.0
3,3.087967e+07,141227,1417.0,80.0,50.0,60.000000,77.333333,676.0
4,3.089459e+07,141227,1012.0,100.0,94.0,96.000000,77.333333,676.0
5,3.090522e+07,141227,712.0,76.0,54.0,61.333333,77.333333,676.0
6,3.089495e+07,141227,1002.0,77.0,70.0,72.333333,77.333333,676.0
7,3.089477e+07,141227,1007.0,94.0,90.0,91.333333,77.333333,676.0
8,3.088004e+07,141227,1407.0,80.0,52.0,61.333333,77.333333,676.0
9,3.089530e+07,141227,992.0,96.0,92.0,93.333333,77.333333,676.0
10,3.088841e+07,141227,1182.0,126.0,66.0,86.000000,77.333333,676.0
11,3.089548e+07,141227,987.0,94.0,90.0,91.333333,77.333333,676.0
12,3.090504e+07,141227,717.0,124.0,88.0,100.000000,77.333333,676.0
13,3.087874e+07,141227,1442.0,110.0,106.0,107.333333,77.333333,676.0
14,3.089903e+07,141227,887.0,140.0,136.0,137.333333,77.333333,676.0
15,3.089921e+07,141227,882.0,115.0,100.0,105.000000,77.333333,676.0
16,3.087288e+07,141227,1602.0,104.0,38.0,60.000000,77.333333,676.0
17,3.089673e+07,141227,952.0,178.0,136.0,150.000000,77.333333,676.0
18,3.087985e+07,141227,1412.0,80.0,50.0,60.000000,77.333333,676.0
19,3.089815e+07,141227,912.0,146.0,142.0,143.333333,77.333333,676.0
20,3.089423e+07,141227,1022.0,97.0,91.0,93.000000,77.333333,676.0
21,3.087270e+07,141227,1607.0,32.0,22.0,25.333333,77.333333,676.0
22,3.089938e+07,141227,877.0,122.0,70.0,87.333333,77.333333,676.0
23,3.089566e+07,141227,982.0,118.0,64.0,82.000000,77.333333,676.0
24,3.089956e+07,141227,872.0,102.0,94.0,96.666667,77.333333,676.0
25,3.087476e+07,141227,1552.0,108.0,44.0,65.333333,77.333333,676.0
26,3.089973e+07,141227,867.0,100.0,94.0,96.000000,77.333333,676.0
27,3.087440e+07,141227,1562.0,144.0,64.0,90.666667,77.333333,676.0
28,3.090009e+07,141227,857.0,104.0,98.0,100.000000,77.333333,676.0
29,3.090593e+07,141227,692.0,158.0,72.0,100.666667,77.333333,676.0
...,...,...,...,...,...,...,...,...
3376898,2.174591e+09,3353251,4329.0,158.0,53.0,88.000000,65.333333,20456.0
3376899,2.174550e+09,3353251,8799.0,134.0,51.0,78.666667,65.333333,20456.0
3376900,2.174601e+09,3353251,3344.0,142.0,59.0,86.666667,65.333333,20456.0
3376901,2.174603e+09,3353251,3119.0,145.0,56.0,85.666667,65.333333,20456.0
3376902,2.174564e+09,3353251,7234.0,149.0,50.0,83.000000,65.333333,20456.0
3376903,2.174620e+09,3353251,1629.0,126.0,53.0,77.333333,65.333333,20456.0
3376904,2.174601e+09,3353251,3339.0,142.0,59.0,86.666667,65.333333,20456.0
3376905,2.174620e+09,3353251,1634.0,124.0,52.0,76.000000,65.333333,20456.0
3376906,2.174591e+09,3353251,4404.0,153.0,50.0,84.333333,65.333333,20456.0
3376907,2.174589e+09,3353251,4554.0,146.0,47.0,80.000000,65.333333,20456.0
3376908,2.174560e+09,3353251,7679.0,159.0,60.0,93.000000,65.333333,20456.0
3376909,2.174620e+09,3353251,1659.0,121.0,52.0,75.000000,65.333333,20456.0
3376910,2.174551e+09,3353251,8689.0,123.0,55.0,77.666667,65.333333,20456.0
3376911,2.174589e+09,3353251,4559.0,144.0,46.0,78.666667,65.333333,20456.0
3376912,2.174515e+09,3353251,11924.0,130.0,53.0,78.666667,65.333333,20456.0
3376913,2.174620e+09,3353251,1644.0,122.0,52.0,75.333333,65.333333,20456.0
3376914,2.174637e+09,3353251,99.0,102.0,54.0,70.000000,65.333333,20456.0
3376915,2.174551e+09,3353251,8704.0,142.0,65.0,90.666667,65.333333,20456.0
3376916,2.174562e+09,3353251,7439.0,158.0,59.0,92.000000,65.333333,20456.0
3376917,2.174637e+09,3353251,94.0,100.0,54.0,69.333333,65.333333,20456.0
3376918,2.174620e+09,3353251,1649.0,123.0,53.0,76.333333,65.333333,20456.0
3376919,2.174551e+09,3353251,8694.0,126.0,55.0,78.666667,65.333333,20456.0
3376920,2.174518e+09,3353251,11724.0,143.0,55.0,84.333333,65.333333,20456.0
3376921,2.174591e+09,3353251,4399.0,154.0,48.0,83.333333,65.333333,20456.0
3376922,2.174620e+09,3353251,1654.0,122.0,53.0,76.000000,65.333333,20456.0
3376923,2.174621e+09,3353251,1529.0,121.0,54.0,76.333333,65.333333,20456.0
3376924,2.174551e+09,3353251,8734.0,125.0,51.0,75.666667,65.333333,20456.0
3376925,2.174638e+09,3353251,24.0,179.0,65.0,103.000000,65.333333,20456.0
3376926,2.174552e+09,3353251,8659.0,124.0,55.0,78.000000,65.333333,20456.0
3376927,2.174536e+09,3353251,10154.0,107.0,59.0,75.000000,65.333333,20456.0

In [102]:
24*60

1440

In [103]:
def checkifvalid(obsofflist, obsoffinitlist, df):
    """Function to check if SBP and DBP have increased in 24 hours"""
    
    droplist = []
    for i in range(len(obsofflist)):
        if obsofflist[i] - obsoffinitlist[i] <= 1440:
            droplist.append(i)
        
    df.drop(droplist, inplace=True)

In [104]:
checkifvalid(ivitals['observationoffset'].tolist(), ivitals['observationoffsetinit'].tolist(), ivitals)

In [105]:
ivitals.shape

(1751531, 8)

In [108]:
ivitals.drop('vitalperiodicid', axis=1, inplace=True)
ivitals.reset_index(inplace=True, drop=True)

In [109]:
ivitals

,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP_vitals,MAP_df,observationoffsetinit
0,143466,10140.0,132.0,50.0,77.333333,75.333333,1173.0
1,143466,9835.0,112.0,45.0,67.333333,75.333333,1173.0
2,143466,4620.0,169.0,68.0,101.666667,75.333333,1173.0
3,143466,8775.0,123.0,51.0,75.000000,75.333333,1173.0
4,143466,10720.0,120.0,47.0,71.333333,75.333333,1173.0
5,143466,10115.0,114.0,45.0,68.000000,75.333333,1173.0
6,143466,3765.0,140.0,66.0,90.666667,75.333333,1173.0
7,143466,4130.0,147.0,65.0,92.333333,75.333333,1173.0
8,143466,11830.0,110.0,42.0,64.666667,75.333333,1173.0
9,143466,7230.0,137.0,55.0,82.333333,75.333333,1173.0
10,143466,12615.0,99.0,44.0,62.333333,75.333333,1173.0
11,143466,13125.0,101.0,37.0,58.333333,75.333333,1173.0
12,143466,9345.0,120.0,44.0,69.333333,75.333333,1173.0
13,143466,4395.0,166.0,71.0,102.666667,75.333333,1173.0
14,143466,13910.0,114.0,42.0,66.000000,75.333333,1173.0
15,143466,11300.0,102.0,41.0,61.333333,75.333333,1173.0
16,143466,7200.0,138.0,52.0,80.666667,75.333333,1173.0
17,143466,5440.0,138.0,59.0,85.333333,75.333333,1173.0
18,143466,8980.0,162.0,64.0,96.666667,75.333333,1173.0
19,143466,8845.0,141.0,55.0,83.666667,75.333333,1173.0
20,143466,3530.0,141.0,68.0,92.333333,75.333333,1173.0
21,143466,8050.0,160.0,67.0,98.000000,75.333333,1173.0
22,143466,2655.0,140.0,70.0,93.333333,75.333333,1173.0
23,143466,2995.0,162.0,76.0,104.666667,75.333333,1173.0
24,143466,6935.0,181.0,74.0,109.666667,75.333333,1173.0
25,143466,5880.0,129.0,54.0,79.000000,75.333333,1173.0
26,143466,6475.0,162.0,61.0,94.666667,75.333333,1173.0
27,143466,8730.0,143.0,56.0,85.000000,75.333333,1173.0
28,143466,11805.0,110.0,42.0,64.666667,75.333333,1173.0
29,143466,10950.0,115.0,44.0,67.666667,75.333333,1173.0
...,...,...,...,...,...,...,...
1751501,3353197,17845.0,113.0,42.0,65.666667,58.000000,9361.0
1751502,3353197,25030.0,147.0,42.0,77.000000,58.000000,9361.0
1751503,3353197,12085.0,121.0,45.0,70.333333,58.000000,9361.0
1751504,3353197,14910.0,109.0,42.0,64.333333,58.000000,9361.0
1751505,3353197,13480.0,121.0,48.0,72.333333,58.000000,9361.0
1751506,3353197,12075.0,125.0,46.0,72.333333,58.000000,9361.0
1751507,3353197,12080.0,122.0,45.0,70.666667,58.000000,9361.0
1751508,3353197,14985.0,113.0,44.0,67.000000,58.000000,9361.0
1751509,3353197,12070.0,120.0,45.0,70.000000,58.000000,9361.0
1751510,3353197,14980.0,121.0,52.0,75.000000,58.000000,9361.0
1751511,3353197,24970.0,148.0,42.0,77.333333,58.000000,9361.0
1751512,3353197,19295.0,149.0,48.0,81.666667,58.000000,9361.0
1751513,3353197,25025.0,150.0,43.0,78.666667,58.000000,9361.0
1751514,3353197,19285.0,133.0,44.0,73.666667,58.000000,9361.0
1751515,3353197,17810.0,117.0,42.0,67.000000,58.000000,9361.0
1751516,3353197,12035.0,129.0,51.0,77.000000,58.000000,9361.0
1751517,3353197,12045.0,121.0,45.0,70.333333,58.000000,9361.0
1751518,3353197,17840.0,116.0,44.0,68.000000,58.000000,9361.0
1751519,3353197,25020.0,141.0,42.0,75.000000,58.000000,9361.0
1751520,3353197,19290.0,153.0,48.0,83.000000,58.000000,9361.0
1751521,3353197,13450.0,122.0,48.0,72.666667,58.000000,9361.0
1751522,3353197,12060.0,127.0,49.0,75.000000,58.000000,9361.0
1751523,3353197,14975.0,119.0,52.0,74.333333,58.000000,9361.0
1751524,3353197,14905.0,110.0,43.0,65.333333,58.000000,9361.0
1751525,3353197,12055.0,116.0,43.0,67.333333,58.000000,9361.0
1751526,3353197,14970.0,118.0,41.0,66.666667,58.000000,9361.0
1751527,3353197,25060.0,150.0,46.0,80.666667,58.000000,9361.0
1751528,3353197,13475.0,121.0,49.0,73.000000,58.000000,9361.0
1751529,3353197,19245.0,105.0,55.0,71.666667,58.000000,9361.0
1751530,3353197,12050.0,116.0,43.0,67.333333,58.000000,9361.0

In [111]:
# ivitals.to_csv('../data/ivitals.csv' , index=False)

In [2]:
ivitals = pd.read_csv('../data/ivitals.csv')

In [12]:
def getPatientsWithSepsis(MAPvitalslist, MAPinitlist, obsofflist, obsoffinitlist, patientidlist):
    """Function to find the patients who have a two point deterioration in SOFA score"""
    
    l = []
    m = []
    
    for i in range(len(MAPvitalslist)):
        if MAPinitlist[i] < 70 and MAPvitalslist[i] >= 70 and obsofflist[i] >= obsoffinitlist[i]:
                l.append(patientidlist[i])
        elif MAPinitlist[i] > 70 and MAPvitalslist[i] <= 70 and obsofflist[i] < obsoffinitlist[i]:
            l.append(patientidlist[i])
        else:
            pass
    
        m.append(MAPvitalslist[i] - MAPinitlist[i])
            
    return [l, m]

In [13]:
l = getPatientsWithSepsis(ivitals['MAP_vitals'].tolist(), ivitals['MAP_df'].tolist(), 
                      ivitals['observationoffset'].tolist(), ivitals['observationoffsetinit'].tolist(),
                      ivitals['patientunitstayid'].tolist())

In [14]:
diffinMAP = l[1]

In [15]:
diffinMAP = pd.DataFrame(diffinMAP, columns=['MAPdiff'])

In [16]:
ivitals = pd.concat([ivitals, diffinMAP], axis=1)

In [17]:
ivitals.head()

,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP_vitals,MAP_df,observationoffsetinit,MAPdiff
0,143466,10140.0,132.0,50.0,77.333333,75.333333,1173.0,2.000000
1,143466,9835.0,112.0,45.0,67.333333,75.333333,1173.0,-8.000000
2,143466,4620.0,169.0,68.0,101.666667,75.333333,1173.0,26.333333
3,143466,8775.0,123.0,51.0,75.000000,75.333333,1173.0,-0.333333
4,143466,10720.0,120.0,47.0,71.333333,75.333333,1173.0,-4.000000

In [18]:
patientsWithSepsis = pd.Series(l[0]).unique()

In [19]:
# patientsWithSepsis = patientsWithSepsis.unique()

In [20]:
# patientsWithSepsis = pd.DataFrame(patientsWithSepsis, dtype=int, columns=['patientunitstayid'])

In [21]:
# patientsWithSepsis = pd.DataFrame([patientsWithSepsis, [1]*len(patientsWithSepsis)], columns=['patientunitstayid', 'SepsisLabel'])

In [22]:
patientsDf = pd.read_csv('../data/patient.csv')

In [23]:
patientsDf.head()

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141168,128919,Female,70,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",152.4,15:54:00,...,Direct Admit,1,admit,84.3,85.8,03:50:00,3596,Death,Expired,002-34851
1,141178,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,Emergency Department,1,admit,54.4,54.4,09:18:00,8,Step-Down Unit (SDU),Alive,002-33870
2,141179,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,ICU to SDU,2,stepdown/other,NaN,60.4,19:20:00,2042,Home,Alive,002-33870
3,141194,128941,Male,68,Caucasian,73,92,"Sepsis, renal/UTI (including bladder)",180.3,18:18:40,...,Floor,1,admit,73.9,76.7,15:31:00,4813,Floor,Alive,002-5276
4,141196,128943,Male,71,Caucasian,67,109,NaN,162.6,20:21:00,...,ICU to SDU,2,stepdown/other,NaN,63.2,22:23:00,1463,Floor,Alive,002-37665

In [24]:
patientslist = patientsDf['patientunitstayid']

In [25]:
labels = []
for i in patientslist:
    if i in patientsWithSepsis:
        labels.append(1)
    else:
        labels.append(0)

In [26]:
len(labels)

200859

In [27]:
len(patientslist)

200859

In [31]:
patientslist = pd.DataFrame(patientslist.tolist(), columns=['patientunitstayid'])
labels = pd.DataFrame(labels, columns=['SepsisLabel'])

In [32]:
finalPatientsList = pd.concat([patientslist, labels], axis=1)

In [36]:
finalPatientsList.head(10)

   patientunitstayid  SepsisLabel
0             141168            0
1             141178            0
2             141179            0
3             141194            0
4             141196            0
5             141197            0
6             141203            0
7             141208            0
8             141227            0
9             141229            0

In [38]:
finalPatientsList['SepsisLabel'].unique()

array([0, 1], dtype=int64)

In [39]:
from collections import Counter

In [40]:
Counter(finalPatientsList['SepsisLabel'].tolist()).values()

dict_values([200560, 299])