## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Read Datasets
Read Datasets and do some basic exploratory analysis

In [2]:
apsvar = pd.read_csv('../data/apacheApsVar.csv')

In [3]:
apsvar.head()

,apacheapsvarid,patientunitstayid,intubated,vent,dialysis,eyes,motor,verbal,meds,urine,...,ph,hematocrit,creatinine,albumin,pao2,pco2,bun,glucose,bilirubin,fio2
0,2,141168,0,0,0,4,6,5,0,-1.0,...,-1.00,40.1,2.30,3.1,-1.0,-1.0,27.0,95.0,4.1,-1.0
1,2399659,141178,0,0,0,-1,-1,-1,-1,-1.0,...,-1.00,-1.0,-1.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,167885,141194,0,0,0,3,6,4,0,-1.0,...,-1.00,27.4,2.51,2.3,-1.0,-1.0,31.0,168.0,0.4,-1.0
3,70691,141197,0,0,0,4,6,5,0,-1.0,...,-1.00,-1.0,-1.00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,2279689,141203,0,1,0,1,3,1,0,-1.0,...,7.45,36.9,0.56,-1.0,51.0,37.0,9.0,145.0,-1.0,100.0

In [4]:
apsvar.columns

Index(['apacheapsvarid', 'patientunitstayid', 'intubated', 'vent', 'dialysis',
       'eyes', 'motor', 'verbal', 'meds', 'urine', 'wbc', 'temperature',
       'respiratoryrate', 'sodium', 'heartrate', 'meanbp', 'ph', 'hematocrit',
       'creatinine', 'albumin', 'pao2', 'pco2', 'bun', 'glucose', 'bilirubin',
       'fio2'],
      dtype='object')

In [5]:
apsvar.shape

(171177, 26)

#### Read vitals aperiod dataset to get the systolic and diastolic

In [6]:
vitsaperiod = pd.read_csv('../data/vitalAperiodic.csv')

In [7]:
vitsaperiod.head()

,vitalaperiodicid,patientunitstayid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
0,4295739,141168,349,NaN,NaN,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4295737,141168,123,106.0,68.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4295741,141168,1398,NaN,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4295740,141168,441,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4295738,141168,138,111.0,62.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
vitsaperiod.columns

Index(['vitalaperiodicid', 'patientunitstayid', 'observationoffset',
       'noninvasivesystolic', 'noninvasivediastolic', 'noninvasivemean',
       'paop', 'cardiacoutput', 'cardiacinput', 'svr', 'svri', 'pvr', 'pvri'],
      dtype='object')

In [9]:
vitsaperiod.shape

(25075074, 13)

#### Join the dialstolic and systolic blood pressures to the apsvar dataset

In [10]:
df = apsvar.join(vitsaperiod[['observationoffset', 'noninvasivesystolic', 'noninvasivediastolic']], on='patientunitstayid')

In [11]:
df.isna().sum()

apacheapsvarid              0
patientunitstayid           0
intubated                   0
vent                        0
dialysis                    0
eyes                        0
motor                       0
verbal                      0
meds                        0
urine                       0
wbc                         0
temperature                 0
respiratoryrate             0
sodium                      0
heartrate                   0
meanbp                      0
ph                          0
hematocrit                  0
creatinine                  0
albumin                     0
pao2                        0
pco2                        0
bun                         0
glucose                     0
bilirubin                   0
fio2                        0
observationoffset           0
noninvasivesystolic     32232
noninvasivediastolic    32225
dtype: int64

In [12]:
df.shape

(171177, 29)

In [13]:
df.dropna(inplace=True)

In [14]:
df.reset_index(inplace=True)

In [15]:
df.isna().sum()

index                   0
apacheapsvarid          0
patientunitstayid       0
intubated               0
vent                    0
dialysis                0
eyes                    0
motor                   0
verbal                  0
meds                    0
urine                   0
wbc                     0
temperature             0
respiratoryrate         0
sodium                  0
heartrate               0
meanbp                  0
ph                      0
hematocrit              0
creatinine              0
albumin                 0
pao2                    0
pco2                    0
bun                     0
glucose                 0
bilirubin               0
fio2                    0
observationoffset       0
noninvasivesystolic     0
noninvasivediastolic    0
dtype: int64

In [16]:
df.head()

,index,apacheapsvarid,patientunitstayid,intubated,vent,dialysis,eyes,motor,verbal,meds,...,albumin,pao2,pco2,bun,glucose,bilirubin,fio2,observationoffset,noninvasivesystolic,noninvasivediastolic
0,0,2,141168,0,0,0,4,6,5,0,...,3.1,-1.0,-1.0,27.0,95.0,4.1,-1.0,151,134.0,72.0
1,1,2399659,141178,0,0,0,-1,-1,-1,-1,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,647,108.0,66.0
2,2,167885,141194,0,0,0,3,6,4,0,...,2.3,-1.0,-1.0,31.0,168.0,0.4,-1.0,36,113.0,68.0
3,3,70691,141197,0,0,0,4,6,5,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,5037,131.0,63.0
4,4,2279689,141203,0,1,0,1,3,1,0,...,-1.0,51.0,37.0,9.0,145.0,-1.0,100.0,10175,119.0,67.0

In [17]:
df.columns

Index(['index', 'apacheapsvarid', 'patientunitstayid', 'intubated', 'vent',
       'dialysis', 'eyes', 'motor', 'verbal', 'meds', 'urine', 'wbc',
       'temperature', 'respiratoryrate', 'sodium', 'heartrate', 'meanbp', 'ph',
       'hematocrit', 'creatinine', 'albumin', 'pao2', 'pco2', 'bun', 'glucose',
       'bilirubin', 'fio2', 'observationoffset', 'noninvasivesystolic',
       'noninvasivediastolic'],
      dtype='object')

## Section: Calculation of SOFA scores

### Select only the required columns
Select only those columns that contribute to the calculation for the SOFA scores.

In [18]:
dfmain = df[['urine', 'wbc', 'creatinine', 'pao2', 'fio2', 'bilirubin', 'observationoffset', 'patientunitstayid']]

In [19]:
dfmain.isna().sum()

urine                0
wbc                  0
creatinine           0
pao2                 0
fio2                 0
bilirubin            0
observationoffset    0
patientunitstayid    0
dtype: int64

#### Calculate Mean Arterial Pressure (MAP)

In [20]:
def calcMAP(listOfSBP, listofDBP):
    """A function to calculate MAP ie, Mean Arterial Pressure"""
    
    l = []
    for i in range(len(listOfSBP)):
        mapval = (listOfSBP[i] + (listofDBP[i])*2)/3.0
        l.append(mapval)
    
    return l

In [21]:
mapvals = calcMAP(df['noninvasivesystolic'].tolist(), df['noninvasivediastolic'].tolist())

In [22]:
mapvals = pd.DataFrame(mapvals, columns=['MAP'])

In [23]:
mapvals.head()

         MAP
0  92.666667
1  80.000000
2  83.000000
3  85.666667
4  84.333333

#### Calculate Glasgow Coma Score (GCS)

In [24]:
def calcGCS(eyeslist, motorlist, verballist):
    """A function to calculate Glasgow Coma Scale"""
    
    l = []
    for i in range(len(eyeslist)):
        gcs = eyeslist[i] + motorlist[i] + verballist[i]
        if gcs < 0:
            l.append(None)
        else:
            l.append(gcs)
    
    return l

In [25]:
gcsvals = calcGCS(df['eyes'].tolist(), df['motor'].tolist(), df['verbal'].tolist())

In [26]:
gcsvals = pd.DataFrame(gcsvals, columns=['GCS'])

In [27]:
gcsvals.head()

    GCS
0  15.0
1   NaN
2  13.0
3  15.0
4   5.0

In [28]:
gcsvals.isna().sum()

GCS    4587
dtype: int64

In [29]:
len(gcsvals)

138942

In [30]:
dfmain.head()

,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid
0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168
1,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,647,141178
2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194
3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197
4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203

In [31]:
#Concat the datasets
dfmain = pd.concat([dfmain, mapvals, gcsvals], axis=1)

In [32]:
dfmain.isna().sum()

urine                   0
wbc                     0
creatinine              0
pao2                    0
fio2                    0
bilirubin               0
observationoffset       0
patientunitstayid       0
MAP                     0
GCS                  4587
dtype: int64

In [33]:
dfmain.dropna(inplace=True)

In [34]:
dfmain.reset_index(inplace=True)

In [35]:
dfmain.head()

,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS
0,0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0
1,2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0
2,3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0
3,4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0
4,5,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0

In [36]:
dfmain.shape

(134355, 11)

#### Calculate the SOFA score

In [37]:
def calcSOFA(wbclist, creatininelist, pao2list, bilirubinlist, maplist, gcslist):
    """A function to calculate sofa score"""
    
    l = []
    for i in range(len(creatininelist)):
        
        ## calculate wbc/platelets score
        if wbclist[i] == -0.1:
            wbc = 0
        elif wbclist[i] >= 150:
            wbc = 0
        elif wbclist[i] < 20:
            wbc = 4
        elif wbclist[i] < 50:
            wbc = 3
        elif wbclist[i] < 100:
            wbc = 2
        elif wbclist[i] < 150:
            wbc = 1
        else:
            wbc = 0
                
        ## calculate creatinine score
        if creatininelist[i] == -0.1:
            renal = 0
        elif creatininelist[i] >= 5.0:
            renal = 4
        elif creatininelist[i] >= 3.5:
            renal = 3
        elif creatininelist[i] >= 2.0:
            renal = 2
        elif creatininelist[i] >= 1.2:
            renal = 1
        elif creatininelist[i] < 1.2:
            renal = 0
        else: 
            renal = 0
            
        ## calculate pao2 score
        if pao2list[i] == -1.0:
            resp = 0
        elif pao2list[i] < 100:
            resp = 4
        elif pao2list[i] < 200:
            resp = 3
        elif pao2list[i] < 300:
            resp = 2
        elif pao2list[i] < 400:
            resp = 1
        elif pao2list[i] >= 400:
            resp = 0
        else:
            resp = 0
            
        ## calculate bilirubin score
        if bilirubinlist[i] == -1.0:
            liver = 0
        elif bilirubinlist[i] < 1.2:
            liver = 0
        elif bilirubinlist[i] < 2.0:
            liver = 1
        elif bilirubinlist[i] < 6.0:
            liver = 2
        elif bilirubinlist[i] < 12.0:
            liver = 3
        elif bilirubinlist[i] >= 12.0:
            liver = 4
        else:
            liver = 0
            
        ## calculate MAP score
        if maplist[i] == -1.0:
            mapval = 0
        elif maplist[i] < 70:
            mapval = 1
        elif maplist[i] >= 70:
            mapval = 0
        else: 
            mapval = 0
            
        ## calculate Glasgow Coma Score (GCS) score
        if gcslist[i] == -1.0:
            gcs = 0
        elif gcslist[i] < 6:
            gcs = 4
        elif gcslist[i] < 10:
            gcs = 3
        elif gcslist[i] < 13:
            gcs = 2
        elif gcslist[i] < 15:
            gcs = 1
        elif gcslist[i] == 15:
            gcs = 0
        else:
            gcs = 0
    
        ## CALCULATE the sofa score and append it
        sofascore = wbc + renal + resp + liver + mapval + gcs
        l.append(sofascore)
        
    
    return l

In [38]:
sofaslist = calcSOFA(dfmain['wbc'].tolist(), dfmain['creatinine'].tolist(), 
                     dfmain['pao2'].tolist(), dfmain['bilirubin'].tolist(),
                     dfmain['MAP'].tolist(), dfmain['GCS'].tolist())

In [39]:
sofaslist = pd.DataFrame(sofaslist, columns=['SOFA'])

In [40]:
# Concat the SOFA column
dfmain = pd.concat([dfmain, sofaslist], axis=1)

In [41]:
dfmain.head()

,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS,SOFA
0,0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0,8
1,2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0,7
2,3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0,4
3,4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0,12
4,5,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0,5

In [42]:
dfmain['SOFA'].value_counts()

4     38789
5     26693
6     15202
8     12239
7     12057
9      8299
10     6497
11     5303
12     3658
13     2062
3      1481
14     1062
15      570
16      243
17      100
2        47
18       26
19       13
1        11
0         3
Name: SOFA, dtype: int64

In [43]:
vitsaperiod.columns

Index(['vitalaperiodicid', 'patientunitstayid', 'observationoffset',
       'noninvasivesystolic', 'noninvasivediastolic', 'noninvasivemean',
       'paop', 'cardiacoutput', 'cardiacinput', 'svr', 'svri', 'pvr', 'pvri'],
      dtype='object')

In [44]:
vitsaperiod.shape

(25075074, 13)

### Medication datasets exploration
Medication datasets basic exploration for the calculation of tSuspicion.

In [45]:
medication = pd.read_csv('../data/medication.csv')

E:\Anaconda-3\envs\tfdeeplearning\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
medication.head()

,medicationid,patientunitstayid,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,drugname,drughiclseqno,dosage,routeadmin,frequency,loadingdose,prn,drugstopoffset,gtc
0,7426715,141168,309,666,No,No,METOPROLOL TARTRATE 25 MG PO TABS,2102.0,25 3,PO,Q12H SCH,NaN,No,1826,0
1,9643232,141168,1847,1832,No,No,3 ML - IPRATROPIUM-ALBUTEROL 0.5-2.5 (3) MG/...,NaN,3 1,NEBULIZATION,Q4H Resp PRN,NaN,Yes,2047,0
2,10270090,141168,296,1386,No,No,ASPIRIN EC 81 MG PO TBEC,1820.0,81 3,PO,Daily,NaN,No,2390,0
3,9496768,141168,2048,2029,No,No,3 ML - IPRATROPIUM-ALBUTEROL 0.5-2.5 (3) MG/...,NaN,3 1,NEBULIZATION,Q4H Resp PRN,NaN,Yes,2390,0
4,11259680,141168,117,246,No,No,ENOXAPARIN SODIUM 40 MG/0.4ML SC SOLN,NaN,40 3,SC,Daily,NaN,No,1721,0

In [47]:
medication.columns

Index(['medicationid', 'patientunitstayid', 'drugorderoffset',
       'drugstartoffset', 'drugivadmixture', 'drugordercancelled', 'drugname',
       'drughiclseqno', 'dosage', 'routeadmin', 'frequency', 'loadingdose',
       'prn', 'drugstopoffset', 'gtc'],
      dtype='object')

#### Get the drug (antibiotics) start and stop time

In [48]:
dfmeds = medication[['medicationid', 'patientunitstayid', 'drugstartoffset', 'drugstopoffset']]

In [49]:
dfmeds.head()

   medicationid  patientunitstayid  drugstartoffset  drugstopoffset
0       7426715             141168              666            1826
1       9643232             141168             1832            2047
2      10270090             141168             1386            2390
3       9496768             141168             2029            2390
4      11259680             141168              246            1721

In [50]:
dfmeds.isna().sum()

medicationid         0
patientunitstayid    0
drugstartoffset      0
drugstopoffset       0
dtype: int64

In [51]:
diagnosis = pd.read_csv('../data/diagnosis.csv')

In [52]:
diagnosis.head()

,diagnosisid,patientunitstayid,activeupondischarge,diagnosisoffset,diagnosisstring,icd9code,diagnosispriority
0,4222318,141168,False,72,cardiovascular|chest pain / ASHD|coronary arte...,"414.00, I25.10",Other
1,3370568,141168,True,118,cardiovascular|ventricular disorders|cardiomyo...,NaN,Other
2,4160941,141168,False,72,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
3,4103261,141168,True,118,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
4,3545241,141168,True,118,cardiovascular|ventricular disorders|congestiv...,"428.0, I50.9",Other

In [53]:
diagnosis.columns

Index(['diagnosisid', 'patientunitstayid', 'activeupondischarge',
       'diagnosisoffset', 'diagnosisstring', 'icd9code', 'diagnosispriority'],
      dtype='object')

#### Get the diagnosis string for each patient

In [54]:
dfdiag = diagnosis[['patientunitstayid', 'diagnosisstring']]

In [55]:
dfdiag.head()

   patientunitstayid                                    diagnosisstring
0             141168  cardiovascular|chest pain / ASHD|coronary arte...
1             141168  cardiovascular|ventricular disorders|cardiomyo...
2             141168            pulmonary|disorders of the airways|COPD
3             141168            pulmonary|disorders of the airways|COPD
4             141168  cardiovascular|ventricular disorders|congestiv...

In [56]:
dfdiag.isna().sum()

patientunitstayid    0
diagnosisstring      0
dtype: int64

#### Filter out patients who have sepsis in their diagnosis

In [58]:
droplist = []
for i in range(dfdiag.shape[0]):
    if "sepsis" in dfdiag.iloc[i]['diagnosisstring'].lower():
        pass
    else:
        droplist.append(i)

In [59]:
len(droplist)

In [60]:
dfdiag.drop(droplist, inplace=True)

In [61]:
dfdiag.reset_index(inplace=True)

In [62]:
dfdiag.drop('index', axis=1, inplace=True)

#### Join the dataframes of diagnosis and medications

In [63]:
dfmedsmain = dfdiag.join(dfmeds.drop('patientunitstayid', axis=1), on='patientunitstayid')`

In [64]:
droplist = []
for i in range(dfmedsmain.shape[0]):
    if dfmedsmain.iloc[i]['drugstopoffset'] - dfmedsmain.iloc[i]['drugstartoffset'] < 72 :
        droplist.append(i)

In [65]:
dfmedsmain.drop(droplist, inplace=True)

In [66]:
dfmedsmain.reset_index(inplace=True)

In [67]:
dfmedsmain.drop('index', axis=1, inplace=True)

In [68]:
patientslistwithsepsis = dfmedsmain['patientunitstayid'].tolist()

### Join the main datasets

In [ ]:
df00 = pd.merge(dfmedsmain, dfmain, on='patientunitstayid', how='left')

In [ ]:
df00.head()

In [ ]:
df00 = pd.concat([df00, pd.DataFrame(df00['drugstartoffset'].tolist(), columns=['tDrugAdminister'])], axis=1)

In [ ]:
df00.head()

In [ ]:
# Big dataset import. Instead call the already saved dataset from data.
lab = pd.read_csv('../data/lab.csv')

In [ ]:
lab = lab[['patientunitstayid', 'labresultoffset']]

In [ ]:
df00 = pd.merge(df00, lab, on='patientunitstayid', how='left')

In [ ]:
df00.head()

In [ ]:
df00.to_csv('../data/df00.csv', index=False)

In [69]:
# Import dataset from data.
df00 = pd.read_csv('../data/df00.csv')

In [70]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

In [71]:
df00.isna().sum()

patientunitstayid         0
diagnosisstring           0
medicationid              0
drugstartoffset           0
drugstopoffset            0
index                310199
urine                310199
wbc                  310199
creatinine           310199
pao2                 310199
fio2                 310199
bilirubin            310199
observationoffset    310199
MAP                  310199
GCS                  310199
SOFA                 310199
tDrugAdminister           0
labresultoffset          64
tSusp                    64
dtype: int64

In [72]:
df00.dropna(inplace=True)

In [73]:
df00.reset_index(inplace=True, drop=True)

In [74]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0

### Calculate tSuspicion

In [75]:
def calcTSuspicion(tDrugAdList, labResOffsetList):
    """Function to calculate the time of suspicion (tSuspicion) """
    
    l = []
    for i in range(len(tDrugAdList)):
        if tDrugAdList[i] <= labResOffsetList[i]:
            l.append(tDrugAdList[i])
        else: 
            l.append(labResOffsetList[i])
            
    return l

In [76]:
tsuspList = calcTSuspicion(df00['tDrugAdminister'].tolist(), df00['labresultoffset'].tolist())

In [77]:
tsuspList = pd.DataFrame(tsuspList, columns=['tSusp'])

In [78]:
df00 = pd.concat([df00, tsuspList], axis=1)

In [79]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0,-128.0

In [80]:
df00.isna().sum()

patientunitstayid    0
diagnosisstring      0
medicationid         0
drugstartoffset      0
drugstopoffset       0
index                0
urine                0
wbc                  0
creatinine           0
pao2                 0
fio2                 0
bilirubin            0
observationoffset    0
MAP                  0
GCS                  0
SOFA                 0
tDrugAdminister      0
labresultoffset      0
tSusp                0
tSusp                0
dtype: int64

### Considering the periodic vitals dataset 
Vitals periodic is a heavy dataset and thus it is broken into 3 parts. The dataset can be imported from /data as vitals.csv as shown at the end of this segment

In [84]:
vitals1 = pd.read_csv('../data/vitalPeriodic.csv', nrows=48890547)

In [ ]:
vitals1.head()

In [ ]:
vitals1.columns

In [ ]:
vitals1 = vitals1[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [ ]:
vitals1.isna().sum()

In [ ]:
vitals1.dropna(inplace=True)

In [ ]:
vitals1.reset_index(inplace=True, drop=True)

In [ ]:
vitals1.head()

In [ ]:
vitals1.shape

In [ ]:
vitalsnames = ['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'temperature', 'sao2', 'heartrate', 'respiration', 'cvp', 'etco2', 'systemicsystolic', 'systemicdiastolic', 'systemicmean', 'pasystolic', 'padiastolic', 'pamean', 'st1', 'st2', 'st3', 'icp']

In [ ]:
vitals2 = pd.read_csv('../data/vitalPeriodic.csv', skiprows=48890547, nrows=48890547, 
                      names=vitalsnames)

In [ ]:
vitals2.head()

In [ ]:
vitals2 = vitals2[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [ ]:
vitals2.isna().sum()

In [ ]:
vitals2.dropna(inplace=True)
vitals2.reset_index(inplace=True, drop=True)

In [ ]:
vitals2.head()

In [ ]:
vitals2.shape

In [ ]:
vitals3 = pd.read_csv('../data/vitalPeriodic.csv', skiprows=97781094, nrows=48890547, 
                      names=vitalsnames)

In [ ]:
vitals3.head()

In [ ]:
vitals3 = vitals3[['vitalperiodicid', 'patientunitstayid', 'observationoffset', 'systemicsystolic', 'systemicdiastolic']]

In [ ]:
vitals3.isna().sum()

In [ ]:
vitals3.dropna(inplace=True)
vitals3.reset_index(inplace=True, drop=True)

In [ ]:
vitals3.head()

In [ ]:
vitals3.shape

In [ ]:
vitals3.isna().sum()

In [ ]:
vitals = pd.concat([vitals1, vitals2, vitals3])

In [ ]:
vitals.head()

In [ ]:
vitals.shape

In [ ]:
vitals.isna().sum()

In [ ]:
vitals.reset_index(inplace=True, drop=True)

In [ ]:
vitals.head()

#### Import vitals dataset

In [86]:
vitals.to_csv('../data/vitals.csv', index=False)

In [88]:
vitals = pd.read_csv('../data/vitals.csv')

In [89]:
df00.head()

,patientunitstayid,diagnosisstring,medicationid,drugstartoffset,drugstopoffset,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,MAP,GCS,SOFA,tDrugAdminister,labresultoffset,tSusp,tSusp
0,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,417.0,341.0,341.0
1,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1467.0,341.0,341.0
2,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-13.0,-13.0,-13.0
3,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,1362.0,341.0,341.0
4,141227,cardiovascular|shock / hypotension|sepsis,12384625,341,3008,6.0,-1.0,42.7,1.9,65.0,21.0,-1.0,676.0,77.333333,13.0,9.0,341,-128.0,-128.0,-128.0

In [90]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic
0,37370189,141168,2254,100.0,72.0
1,37370360,141168,2249,96.0,60.0
2,37374416,141168,2129,112.0,56.0
3,37369500,141168,2274,96.0,52.0
4,37375589,141168,2094,122.0,59.0

In [91]:
dfmain.head()

,index,urine,wbc,creatinine,pao2,fio2,bilirubin,observationoffset,patientunitstayid,MAP,GCS,SOFA
0,0,-1.0,14.7,2.30,-1.0,-1.0,4.1,151,141168,92.666667,15.0,8
1,2,-1.0,14.1,2.51,-1.0,-1.0,0.4,36,141194,83.000000,13.0,7
2,3,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5037,141197,85.666667,15.0,4
3,4,-1.0,12.7,0.56,51.0,100.0,-1.0,10175,141203,84.333333,5.0,12
4,5,-1.0,-1.0,-1.00,-1.0,-1.0,-1.0,5273,141208,76.333333,14.0,5

In [92]:
dfmain.shape

(134355, 12)

In [93]:
dfmain.drop('index', axis=1, inplace=True)

## Final calculations for labeling the patient as Sepsis or non-sepsis

In [94]:
patientsId = df00['patientunitstayid']

In [95]:
patientsId

0          141227
1          141227
2          141227
3          141227
4          141227
5          141227
6          141227
7          141227
8          141227
9          141227
10         141227
11         141227
12         141227
13         141227
14         141289
15         141289
16         141289
17         141304
18         141304
19         141304
20         141304
21         141304
22         141304
23         141304
24         141304
25         141304
26         141304
27         141304
28         141304
29         141304
           ...
849403    3353251
849404    3353251
849405    3353251
849406    3353251
849407    3353251
849408    3353251
849409    3353251
849410    3353251
849411    3353251
849412    3353251
849413    3353251
849414    3353251
849415    3353251
849416    3353251
849417    3353251
849418    3353251
849419    3353251
849420    3353251
849421    3353251
849422    3353251
849423    3353251
849424    3353251
849425    3353251
849426    3353251
849427    3353251
849428    3353251
849429    3353251
849430    3353251
849431    3353251
849432    3353251
Name: patientunitstayid, Length: 849433, dtype: int64

### Calculate MAP values for every entry in the vitals periodic dataframe. <br>
The only detector ie, MAP is considered is because I could only calculate MAP  value from the vitals periodic dataset.

In [96]:
vitalsmap = calcMAP(vitals['systemicsystolic'].tolist(), vitals['systemicdiastolic'].tolist())

In [97]:
vitalsmap = pd.DataFrame(vitalsmap, columns=['MAP'])

In [98]:
vitals = pd.concat([vitals, vitalsmap], axis=1)

In [99]:
vitals.head()

,vitalperiodicid,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP
0,37370189,141168,2254,100.0,72.0,81.333333
1,37370360,141168,2249,96.0,60.0,72.000000
2,37374416,141168,2129,112.0,56.0,74.666667
3,37369500,141168,2274,96.0,52.0,66.666667
4,37375589,141168,2094,122.0,59.0,80.000000

In [100]:
df11 = pd.DataFrame(df00['observationoffset'].tolist(), columns=['observationoffsetinit'])

In [101]:
df11 = pd.concat([df00['patientunitstayid'], df00['MAP'], df11], axis=1)

In [102]:
df11.isna().sum()

patientunitstayid        0
MAP                      0
observationoffsetinit    0
dtype: int64

In [103]:
df11.dropna(inplace=True)

In [104]:
df11.drop_duplicates(inplace=True)
df11.reset_index(inplace=True, drop=True)

In [105]:
df11.head()

   patientunitstayid        MAP  observationoffsetinit
0             141227  77.333333                  676.0
1             141289  74.666667                  186.0
2             141304  65.000000                  688.0
3             141392  83.666667                17362.0
4             141432  82.000000                17392.0

In [106]:
df11.shape

(13413, 3)

#### You can also load the ivitals dataset

In [ ]:
ivitals = vitals.merge(df11, how='outer', on='patientunitstayid', suffixes=('_vitals', '_df'))

In [ ]:
ivitals.shape

In [ ]:
ivitals.dropna(inplace=True)
ivitals.reset_index(inplace=True, drop=True)

In [ ]:
ivitals.shape

In [ ]:
ivitals

### Check if the data entries are only seperated by 24 hours.

In [ ]:
def checkifvalid(obsofflist, obsoffinitlist, df):
    """Function to check if SBP and DBP have increased in 24 hours"""
    
    droplist = []
    for i in range(len(obsofflist)):
        if obsofflist[i] - obsoffinitlist[i] <= 1440:
            droplist.append(i)
        
    df.drop(droplist, inplace=True)

In [ ]:
checkifvalid(ivitals['observationoffset'].tolist(), ivitals['observationoffsetinit'].tolist(), ivitals)

In [ ]:
ivitals.shape

In [ ]:
ivitals.drop('vitalperiodicid', axis=1, inplace=True)
ivitals.reset_index(inplace=True, drop=True)

In [ ]:
ivitals

In [ ]:
ivitals.to_csv('../data/ivitals.csv' , index=False)

##### You can also load the dataset from data/

In [107]:
ivitals = pd.read_csv('../data/ivitals.csv')

In [108]:
def getPatientsWithSepsis(MAPvitalslist, MAPinitlist, obsofflist, obsoffinitlist, patientidlist):
    """Function to find the patients who have a two point deterioration in SOFA score"""
    
    l = []
    m = []
    
    for i in range(len(MAPvitalslist)):
        if MAPinitlist[i] < 70 and MAPvitalslist[i] >= 70 and obsofflist[i] >= obsoffinitlist[i]:
                l.append(patientidlist[i])
        elif MAPinitlist[i] > 70 and MAPvitalslist[i] <= 70 and obsofflist[i] < obsoffinitlist[i]:
            l.append(patientidlist[i])
        else:
            pass
    
        m.append(MAPvitalslist[i] - MAPinitlist[i])
            
    return [l, m]

In [109]:
l = getPatientsWithSepsis(ivitals['MAP_vitals'].tolist(), ivitals['MAP_df'].tolist(), 
                      ivitals['observationoffset'].tolist(), ivitals['observationoffsetinit'].tolist(),
                      ivitals['patientunitstayid'].tolist())

In [110]:
diffinMAP = l[1]

In [111]:
diffinMAP = pd.DataFrame(diffinMAP, columns=['MAPdiff'])

In [112]:
ivitals = pd.concat([ivitals, diffinMAP], axis=1)

In [113]:
ivitals.head()

,patientunitstayid,observationoffset,systemicsystolic,systemicdiastolic,MAP_vitals,MAP_df,observationoffsetinit,MAPdiff
0,143466,10140.0,132.0,50.0,77.333333,75.333333,1173.0,2.000000
1,143466,9835.0,112.0,45.0,67.333333,75.333333,1173.0,-8.000000
2,143466,4620.0,169.0,68.0,101.666667,75.333333,1173.0,26.333333
3,143466,8775.0,123.0,51.0,75.000000,75.333333,1173.0,-0.333333
4,143466,10720.0,120.0,47.0,71.333333,75.333333,1173.0,-4.000000

In [114]:
patientsWithSepsis = pd.Series(l[0]).unique()

In [115]:
patientsDf = pd.read_csv('../data/patient.csv')

In [116]:
patientsDf.head()

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141168,128919,Female,70,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",152.4,15:54:00,...,Direct Admit,1,admit,84.3,85.8,03:50:00,3596,Death,Expired,002-34851
1,141178,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,Emergency Department,1,admit,54.4,54.4,09:18:00,8,Step-Down Unit (SDU),Alive,002-33870
2,141179,128927,Female,52,Caucasian,60,83,NaN,162.6,08:56:00,...,ICU to SDU,2,stepdown/other,NaN,60.4,19:20:00,2042,Home,Alive,002-33870
3,141194,128941,Male,68,Caucasian,73,92,"Sepsis, renal/UTI (including bladder)",180.3,18:18:40,...,Floor,1,admit,73.9,76.7,15:31:00,4813,Floor,Alive,002-5276
4,141196,128943,Male,71,Caucasian,67,109,NaN,162.6,20:21:00,...,ICU to SDU,2,stepdown/other,NaN,63.2,22:23:00,1463,Floor,Alive,002-37665

In [117]:
patientslist = patientsDf['patientunitstayid']

In [118]:
labels = []
for i in patientslist:
    if i in patientsWithSepsis:
        labels.append(1)
    else:
        labels.append(0)

In [119]:
len(labels)

200859

In [120]:
len(patientslist)

200859

In [121]:
patientslist = pd.DataFrame(patientslist.tolist(), columns=['patientunitstayid'])
labels = pd.DataFrame(labels, columns=['SepsisLabel'])

In [122]:
finalPatientsList = pd.concat([patientslist, labels], axis=1)

### Final list with Sepsis Labels

In [123]:
finalPatientsList.head(10)

   patientunitstayid  SepsisLabel
0             141168            0
1             141178            0
2             141179            0
3             141194            0
4             141196            0
5             141197            0
6             141203            0
7             141208            0
8             141227            0
9             141229            0

In [124]:
finalPatientsList['SepsisLabel'].unique()

array([0, 1], dtype=int64)

##### Get the number of patients with  SepsisLabels as 1 or 0

In [125]:
from collections import Counter

In [126]:
Counter(finalPatientsList['SepsisLabel'].tolist()).values()

dict_values([200560, 299])

In [127]:
finalPatientsList.to_csvv('../data/finalLabels.csv', index=False)